# Ruby all versions changelog
<%- require 'date' -%>

<%- ruby_versions.each do |ruby_version| %>

<% eol_date    = ruby_version['eol'] %>
<% eol_set     = !eol_date.nil? %>
<% eol_in_past = Date.parse(eol_date) < Date.today rescue nil %>

## Ruby <%= ruby_version['version'] %> <%= eol_set && eol_in_past ? "<div class='icon-label eol' title='All maintenance ended on #{eol_date}'><div data-icon='ei-lock' data-size='s'></div></div>" : '' %>

<%- [*ruby_version['minors']].each do |minor_version| %>
### Ruby [<%= minor_version['version'] %>](https://www.ruby-lang.org/en/news/<%= minor_version['release_date'].gsub('-', '/') %>/ruby-<%= minor_version['version'].gsub('.', '-') %>-released/) <div class='icon-label calendar' title='Released on <%= minor_version['release_date'] %>'><div data-icon='ei-calendar' data-size='s'></div></div>

  <%- if minor_version['version'].end_with? '.0' %>
    <%- ruby_version['changes'].each do |change| %>
- <%= icon_types[change['type'].to_sym] %> <%= change['summary'] %><%= change['experimental'] ? ' (experimental)' : '' -%>
    <% end -%>
  <% end -%>

  <%- [*ruby_cve[minor_version['version']]].each do |cve| %>
- <%= icon_types[:cve] %> [<%= cve['title'][0..60] %>..](<%= cve['url'] %>)
  <% end -%>
<% end -%>

----
<% end -%>

(Last updated on <%= Time.now %>)
