# Ruby latest versions

<%- ruby_versions.each do |ruby_version| %>

  <%- if !ruby_version['implementations'].nil? %>
## Ruby <%= ruby_version['implementations'].map { |impl| "[#{impl['name'].split.last}](#{impl['url']})" }.first %> <%= !ruby_version['eol'].nil? ? "<div class='icon-label eol' title='All maintenance ended on #{ruby_version['eol']}'><div data-icon='ei-lock' data-size='s'></div></div>" : '' %> <div class='icon-label calendar' title='Released on <%= ruby_version['minors'].first['release_date'] %>'><div data-icon='ei-calendar' data-size='s'></div></div>
  <% else %>
## Ruby <%= ruby_version['version'] %>
  <% end -%>

  <% ruby_version['changes'].each_with_index do |change, change_id| -%>
- <%= icon_types[change['type'].to_sym] %>
  <%= change['summary'] %><%= ' (experimental)' if change['experimental'] %>
  <%- if !change['links']&.to_a.nil? -%>
    <%= (change['links'] || []).to_a.map { |link_type, link| "<a target='_blank' href=\"#{link}\"><img class=\"icon link-service-icon\" src=\"../assets/link-icon-#{link_type}.ico\" title=\"#{link_titles[link_type.to_sym]}\"></a>" }.join(' ') %>
  <%- end -%>
  <%- if change['detailsCode'] && !change['detailsCode'].empty? -%>
  <a data-toggle="collapse" href="#codeExample<%= ruby_version['version'].gsub('.', '') %><%= change_id %>" aria-expanded="false" aria-controls="collapseExample">
    <img class="icon link-service-icon" src="../assets/link-icon-code.ico" title="Expand code example">
  </a>
  <div class="collapse" id="codeExample<%= ruby_version['version'].gsub('.', '') %><%= change_id %>">
    <div class="alert alert-light" role="alert">
      <code class="code"><%= change['detailsCode'].join("\n").strip -%></code>
    </div>
  </div>
  <%- end -%>
  <% end -%>

----
<% end -%>

(Last updated on <%= Time.now.to_s %>)
