# Ruby latest versions

<%- ruby_versions.each do |ruby_version| %>

  <%- if !ruby_version['implementations'].nil? %>
## Ruby <%= ruby_version['implementations'].map { |impl| "[#{impl['name'].split.last}](#{impl['url']})" }.first %> <div class='icon-label calendar' title='Released on <%= ruby_version['minors'].first['release_date'] %>'><div data-icon='ei-calendar' data-size='s'></div></div>
  <% else %>
## Ruby <%= ruby_version['version'] %>
  <% end -%>

  <%- if !ruby_version['eol'].nil? %>
All maintenance ended on <%= ruby_version['eol'] %>.
  <% end -%>

  <% ruby_version['changes'].each do |change| -%>
- <%= { new: "<div data-icon='ei-plus' data-size='s'></div>", update: "<div data-icon='ei-pencil' data-size='s'></div>", internals: "<div data-icon='ei-gear' data-size='s'></div>", removed: "<div data-icon='ei-minus' data-size='s'></div>" }[change['type'].to_sym] %> <%= change['summary'] %>
  <% end -%>

----
<% end -%>

(This page was updated on <%= Time.now.to_s %>)
