<!DOCTYPE html>
<html lang="en" class="gr__getbootstrap_com">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="./assets/favicon.ico">

  <title>Ruby versions changelog</title>

  <link href="./assets/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/styles.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript">
    window.onload = function () {
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    }
  </script>
</head>

<body class="text-center" data-gr-c-s-loaded="true" style="">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Ruby versions changelog</h3>
    </div>
  </header>

  <main role="main" class="inner cover">
    </br>
    <!--<button type="button" class="btn btn-lg btn-danger" data-toggle="popover"-->
            <!--title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">-->
      <!--Click to toggle popover-->
    <!--</button>-->
    <% ruby_versions.each do |ruby_version| -%>
      <div class="card">
        <h5 class="card-header">Ruby <%= ruby_version['version'] %>.x</h5>
        <div class="card-body">
          <p class-"card-text"><%= ruby_version['version_info'] %>.</p>
          <p>Status: <%= ruby_version['state'] %></p>
          <%- if !ruby_version['implementations'].nil? %>
            <p class-"card-text">Implementations:
            <% ruby_version['implementations'].each do |impl| -%>
              <span class="badge badge-info">
                <a href="<%= impl['url'] %>"><%= impl['name'] %></a>
              </span>
            <% end -%>
            </p>
          <% end -%>
          <ul class="list-unstyled">
            <% ruby_version['changes'].each do |change| -%>
              <li>
                <span class="badge badge-<%= {new: 'success', update: 'primary', removed: 'danger'}[change['type'].to_sym] %>">
                  <%= {new: 'Added', update: 'Changed', removed: 'Removed'}[change['type'].to_sym] %>
                </span>
                <%= change['summary'] %>
              </li>
            <% end -%>
          </ul>
        </div>
      </div>
      </br>
    <% end -%>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Made by <a href="https://github.com/kowal">kowal</a> using Cover template for
        <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a></p>
      <p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a></p>
    </div>
  </footer>
</div>
</body>
</html>
