<!DOCTYPE html>
<html lang="en" class="gr__getbootstrap_com">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="./assets/favicon.ico">

  <title>Ruby versions changelog</title>

  <link href="./assets/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/styles.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
  <script type="text/javascript">
    window.onload = function () {
      // Chart Themes begin
      am4core.useTheme(am4themes_dark);
      am4core.useTheme(am4themes_animated);
      // Chart Themes end

      var chart = am4core.create("chartdiv", am4charts.XYChart);
      chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

      chart.paddingRight = 30;
      chart.dateFormatter.inputDateFormat = "yyyy-MM-dd HH:mm";

      var colorSet = new am4core.ColorSet();
      colorSet.saturation = 0.2;

      chart.data = <%= ruby_versions.map { |rb|
          [*rb['minors']].map { |minor|
            color = minor['version'].split.last.split('.').map { |n| n.to_i + 1 }.reduce(:*) % 255
            {
              "category": "Ruby #{rb['version']}",
              "task": minor['version'],
              "start": minor['release_date'],
              "end": (minor['end_date'] != "" ? minor['end_date'] : Date.today.to_s),
              "color": "rgb(255, #{color}, 0)",
              "info": [
                rb['state'],
                rb['implementations'],
                rb['changes']
              ].join("\n")
            }
          }
        }.flatten.to_json %>

      chart.dateFormatter.dateFormat = "yyyy-MM-dd";
      chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

      var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "category";
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.inversed = true;

      var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
      dateAxis.renderer.minGridDistance = 70;
      dateAxis.baseInterval = { count: 1, timeUnit: "day" };
      // dateAxis.max = new Date(2018, 0, 1, 24, 0, 0, 0).getTime();
      //dateAxis.strictMinMax = true;
      dateAxis.renderer.tooltipLocation = 0;

      var series1 = chart.series.push(new am4charts.ColumnSeries());
      series1.columns.template.height = am4core.percent(70);
      series1.columns.template.tooltipText = `
        [bold]Ruby {task}
        {openDateX}[/] - {dateX}[/]
      `;

      series1.dataFields.openDateX = "start";
      series1.dataFields.dateX = "end";
      series1.dataFields.categoryY = "category";
      series1.columns.template.propertyFields.fill = "color"; // get color from data
      series1.columns.template.propertyFields.stroke = "color";
      series1.columns.template.strokeOpacity = 1;
      var bullet1 = series1.bullets.push(new am4charts.LabelBullet());
      bullet1.label.text = "{task}";

      chart.scrollbarX = new am4core.Scrollbar();
    }
  </script>
</head>

<body class="text-center" data-gr-c-s-loaded="true" style="">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Ruby versions changelog</h3>
    </div>
  </header>

  <main role="main" class="inner cover">
    </br>
    <a class="btn btn-primary" data-toggle="collapse" href="#chart-collapse-container" role="button" aria-expanded="false" aria-controls="chart-collapse-container">Toggle Chart</a>
    <div class="collapse multi-collapse" id="chart-collapse-container">
      <div id="chartdiv"></div>
    </div>

    </br><hr>

    <% ruby_versions.each do |ruby_version| -%>
      <div class="card">
        <h5 class="card-header">Ruby <%= ruby_version['version'] %>.x</h5>
        <div class="card-body">
          <p class-"card-text"><%= ruby_version['version_info'] %>.</p>
          <p>Status: <%= ruby_version['state'] %></p>
          <%- if !ruby_version['implementations'].nil? %>
            <p class-"card-text">Implementations:
            <% ruby_version['implementations'].each do |impl| -%>
              <span class="badge badge-info">
                <a href="<%= impl['url'] %>" target="_blank"><%= impl['name'] %></a>
              </span>
            <% end -%>
            </p>
          <% end -%>
          <ul class="list-unstyled">
            <% ruby_version['changes'].each do |change| -%>
              <li>
                <span class="badge badge-<%= {new: 'success', update: 'primary', removed: 'danger', internals: 'light'}[change['type'].to_sym] %>">
                  <%= {new: 'Added', update: 'Changed', removed: 'Removed', internals: 'Internals'}[change['type'].to_sym] %>
                </span>
                <%= change['summary'] %>
              </li>
            <% end -%>
          </ul>
        </div>
      </div>
      </br>
    <% end -%>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Last updated on <%= Date.today.to_s %>.</p>
      <p>
        For more details go to <a href="https://www.ruby-lang.org/en/downloads/releases/">Official Ruby Releases page</a>
      </p>
      <hr>
      <p>Made by <a href="https://github.com/kowal">kowal</a> using Cover template for
        <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a></p>
      <p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a></p>
    </div>
  </footer>
</div>
</body>
</html>
